#root {
  display: flex;
  flex-direction: row;
}


body {
  margin: 0px;
  padding: 0px;
}

.dropdown {
  width: fit-content;
}

.left {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}